Package: escenic-check-mk-server-plugins
Version: VERSION
Recommends: check-mk-server
Section: base
Priority: optional
Architecture: all
Maintainer: Escenic Operations <operationsbridge@escenic.com>
Description: check-mk server plugins for the Escenic Content Engine.
