#!/bin/bash -e

echo "--- START : post install hook - install and apply spore ---"

# import spores.key
ssh -F \$2/ssh.conf root@guest 'curl http://apt.vizrt.com/spores.key | gpg --import'

# install spore
ssh -F \$2/ssh.conf root@guest 'apt-get install spore'

# generate spore conf file
ssh -F \$2/ssh.conf root@guest 'echo "spore_uri=$HOOKS_SPORE_URL" > /etc/spore-cronjob.conf'
ssh -F \$2/ssh.conf root@guest 'echo "http_user=$FAI_BUILDER_HTTP_USER" >> /etc/spore-cronjob.conf'
ssh -F \$2/ssh.conf root@guest 'echo "http_passwd=$FAI_BUILDER_HTTP_PASSWORD" >> /etc/spore-cronjob.conf'
ssh -F \$2/ssh.conf root@guest 'echo "spore_signee=$HOOKS_SPORE_SIGNEE" >> /etc/spore-cronjob.conf'

# apply spore
ssh -F \$2/ssh.conf root@guest 'spore-download-and-apply'

echo "--- END : post install hook - install and apply spore ---"
