#!/bin/bash

echo \"--- START : post install hook - set password ---\"

# set dev image passwords
(
  echo 'escenic:$escenic_user_password'
  echo 'ubuntu:$ubuntu_user_password'
) | ssh -F \$2/ssh.conf guest 'sudo chpasswd'

echo \"--- END : post install hook - set password ---\"
