#!/bin/bash

echo \"--- START : post install hook - set password ---\"

# set dev image passwords
(
  echo 'escenic:$HOOKS_ESCENIC_USER_PASSWORD'
  echo 'ubuntu:$HOOKS_UBUNTU_USER_PASSWORD'
) | ssh -F \$2/ssh.conf guest 'sudo chpasswd'

echo \"--- END : post install hook - set password ---\"
