Package: hugin-node
Version: VERSION
Depends: mercurial
Section: base
Priority: optional
Architecture: all
Maintainer: Erik Mogensen <mogsie@vizrt.com>
Description: Keep historical records of files or program output
