Package: vosa
Version: VERSION
Depends: gawk
Suggests: ec2-api-tools
Section: base
Priority: optional
Architecture: all
Maintainer: MAINTAINER_NAME <MAINTAINER_EMAIL>
Description: The Vizrt Online System Administration command line tools.
  See the documentation in /usr/share/doc/vizrt/ for further
  details.

