body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 70px 70px 0px 50px;
}

pre {
  background-color: grey;
}

h1, h2, h3, h4 {
  color: #e88424;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, dl {
  font-size: 95%;
}

p {
  margin-top: 0em;
  margin-bottom: 0.6em;
}

pre.programlisting {
  margin-top: 0em;
  background-color: #ffddaa;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

em {
  font-weight: bold;
  font-style: normal;
}

em.replaceable {
  font-weight: normal;
  font-style: italic;
}

div.note {
  background-color: #ffddaa;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

