Welcome to the $HOOKS_PROJECT_NAME development environment.

My IP address when accessing the internet: \$(curl -s ifconfig.me)
My local eth0 address: \$(/usr/local/bin/get-ip-address eth0)
My local eth1 address: \$(/usr/local/bin/get-ip-address eth1)

Log in as the \"escenic\" user (password: $HOOKS_ESCENIC_USER_PASSWORD)
Log in as the \"top\" user (no password) for \"escenic top\"
