Welcome to the $project_name development environment.

My IP address when accessing the internet: \$(curl -s ifconfig.me)
My local eth0 address: \$(/usr/local/bin/get-ip-address eth0)
My local eth1 address: \$(/usr/local/bin/get-ip-address eth1)

Log in as the \"escenic\" user (password: $escenic_user_password)
Log in as the \"top\" user (no password) for \"escenic top\"
